{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _('Change password') }}{% endblock %}

{%block breadcrumbs %}
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('general.home') }}">{{ _('Home') }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ _('Change password') }}</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <div class="box">
        <form action="" method="POST" role="form">
            {{ form.hidden_tag() }}

            {# Old password #}
            {{ macros.render_input(form.old_password, label=_('Old Password')) }}

            {% if form.errors.old_password %}
                {{ macros.render_messages(form.errors.old_password, size="") }}
            {% endif %}

            {# New password #}
            {{ macros.render_input(form.new_password, label=_('New Password')) }}

            {% if form.errors.new_password %}
                {{ macros.render_messages(form.errors.new_password, size="") }}
            {% endif %}

            {# Password confirmation #}
            {% if user_manager.enable_retype_password %}
                {{ macros.render_input(form.retype_password, label=_('Retype New Password')) }}

                {% if form.errors.retype_password %}
                    {{ macros.render_messages(form.errors.retype_password, size="") }}
                {% endif %}
            {% endif %}

            {# Submit #}
            <div class="has-margin-top"></div>
            {{ macros.render_submit(form.submit, icon="check", fullwidth=false, label=_('Change password')) }}
        </form>
    </div>
{% endblock %}
