{% import "macros.html" as macros %}

{% extends "layout.html" %}

{% block title %}{{ _('Invite a friend') }}{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('general.home') }}">{{ _('Home') }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ _('Invite a friend') }}</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
    <h3 class="subtitle is-3">{{ _('Invite a friend') }}</h3>

    <div class="box">
        <form action="" method="POST" role="form">
            {{ form.hidden_tag() }}

            {# Email #}
            {{ macros.render_input(form.email, icon="envelope", label=_('Email')) }}

            {% if form.errors.email %}
                {{ macros.render_messages(form.errors.email, size="") }}
            {% endif %}

            {# Submit #}
            <div class="has-margin-top"></div>
            {{ macros.render_submit(form.submit, icon="check", fullwidth=false, label=_('Invite!')) }}
        </form>
    </div>
{% endblock %}
