{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _('Register') }}{% endblock %}

{% block html_body %}
<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h2 class="title is-2 has-text-grey has-text-centered"><a href="{{ url_for('user.login') }}">{{ config['SITENAME'] }}</a></h2>
                    <h3 class="subtitle is-3 has-text-grey has-text-centered">{{ _('Register') }}</h3>

                    {% set messages = get_flashed_messages() %}
                    {% if messages %}
                        {{ macros.render_messages(messages, color="success") }}
                    {% endif %}

                    <div class="box">
                        <form action="" method="POST" novalidate formnovalidate role="form">
                            {{ form.hidden_tag() }}

                            {# Username or Email #}
                            {% set field = form.username if user_manager.enable_username else form.email %}
                            {{ macros.render_input(field, icon="user", label=_('Username')) }}

                            {% if field.errors %}
                                {{ macros.render_messages(field.errors, size="") }}
                            {% endif %}

                            {# Email field #}
                            {% if user_manager.enable_email and user_manager.enable_username %}
                                {{ macros.render_input(form.email, icon="envelope", label=_('Email')) }}

                                {% if form.errors.email %}
                                    {{ macros.render_messages(form.errors.email, size="") }}
                                {% endif %}
                            {% endif %}

                            {# Password #}
                            {{ macros.render_input(form.password, icon="key", label=_('Password')) }}

                            {% if form.errors.password %}
                                {{ macros.render_messages(form.errors.password, size="") }}
                            {% endif %}

                            {# Retype password #}
                            {% if user_manager.enable_retype_password %}
                                {{ macros.render_input(form.retype_password, icon="key", label=_('Retype Password')) }}

                                {% if form.errors.retype_password %}
                                    {{ macros.render_messages(form.errors.retype_password, size="") }}
                                {% endif %}
                            {% endif %}

                            {# Submit #}
                            {{ macros.render_submit(form.submit, label=_('Register')) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
