{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _('Reset password') }}{% endblock %}

{% block html_body %}
<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h2 class="title is-2 has-text-grey has-text-centered"><a href="{{ url_for('user.login') }}">{{ config['SITENAME'] }}</a></h2>
                    <h3 class="subtitle is-3 has-text-grey has-text-centered">{{ _('Reset password') }}</h3>

                    {% set messages = get_flashed_messages() %}
                    {% if messages %}
                        {{ macros.render_messages(messages, color="success") }}
                    {% endif %}

                    <div class="box">
                        <form action="" method="POST" role="form">
                            {{ form.hidden_tag() }}

                            {# New password #}
                            {{ macros.render_input(form.new_password, icon="key", label=_('New Password')) }}

                            {% if form.errors.new_password %}
                                {{ macros.render_messages(form.errors.new_password, size="") }}
                            {% endif %}

                            {# Retype password #}
                            {% if user_manager.enable_retype_password %}
                                {{ macros.render_input(form.retype_password, icon="key", label=_('Retype New Password')) }}

                                {% if form.errors.retype_password %}
                                    {{ macros.render_messages(form.errors.retype_password, size="") }}
                                {% endif %}
                            {% endif %}

                            {# Submit #}
                            {{ macros.render_submit(form.submit, label=_('Change password')) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
