recursive-include flask_app_template/migrations *
recursive-include flask_app_template/templates *
recursive-include flask_app_template/translations *
recursive-include flask_app_template/static *

recursive-exclude * __pycache__
recursive-exclude * *.swp
recursive-exclude * *.py[co]
recursive-exclude * *.orig
