blinker==1.4
bcrypt>=3.1.7
Flask==1.0.2
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Misaka==1.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
hashids==1.2.0
passlib>=1.7.2
pytz==2019.1
