alembic==1.0.9
blinker==1.4
Flask==1.0.2
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-Migrate==2.4.0
Flask-Misaka==1.0.0
Flask-SQLAlchemy==2.3.2
Flask-User==0.6.21
Flask-WTF==0.14.2
hashids==1.2.0
pytz==2019.1
